<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class=" px-4 container mx-auto flex justify-between items-center fixed top-0 z-50 text-white py-4 bg-gradient-to-b from-blue-600 to-blue-300">
          <h1 class="text-2xl font-bold">IEEE | Jadavpur University</h1>
          <nav>
            <ul class="flex space-x-4 right-0">
              <li><a href="/" class="hover:underline">Home</a></li>
              <li><a href="/#about" class="hover:underline">About</a></li>
              <li><a href="/#chapters" class="hover:underline">Chapters</a></li>
              <li><a href="/#sponsors" class="hover:underline">Sponsors</a></li>
              <li><a href="/events" class="hover:underline">Events</a></li>
              <li><a href="/#contacts" class="hover:underline">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="events" class="bg-[url('./images/img.png')] bg-cover bg-center text-white py-60 text-center pt-0 pb-0 opacity-0 transition-opacity duration-500 ease-in-out">
        <div class="relative inset-0 py-5">
            <div class="flex flex-wrap justify-center gap-40 p-4 font-bold text-2xl text-white py-40">
              <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-green-500 to-blue-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/cypher.webp" alt="" class="h-40 ">
                <h1 class="text-4xl px-5 ">Cypher 3331</h1>
                <p class="text-base px-5 py-4">Held as part of Jadavpur University's annual tech fest, Srijan, and organized by IEEE JUSB, Cypher dives into the realm of cryptography, coding, and decoding. Participants gain insights into various codes and are presented with challenging brain-teasers,with the levels of complexity increasing as they progress into subsequent rounds.</p>

              </div>
              <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-blue-500 to-green-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/double.webp" alt="" class="h-40 ">
                <h1 class="text-4xl px-5 ">Pass the Mic</h1>
                <p class="text-base px-5 py-4">Pass the Mic is a thought-provoking podcast on Spotify, curated by Jadavpur University Student Branch, featuring expert discussions on technology, innovation, and industry trends. Each episode offers insightful conversations with professionals and thought leaders, fostering knowledge exchange and critical thinking.</p>

              </div>
              <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-green-500 to-blue-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/doubleslash3.webp" alt="" class="h-40 ">
                <h1 class="text-4xl px-5 ">Double//Slash 3.0</h1>
                <p class="text-base px-5 py-4">Double Slash is the premier 24-hour offline hackathon organized by IEEE Jadavpur University Student Branch, designed to foster innovation, creativity, and problem-solving. Bringing together tech enthusiasts, developers, and innovators, this event provides a platform to collaborate, code, and create impactful solutions to real-world challenges.</p>

              </div>
              <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-blue-500 to-green-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/elevateX.webp" alt="" class="h-40 ">
                <h1 class="text-4xl px-5 ">ElevateX</h1>
                <p class="text-base px-5 py-4">ElevateX is an all-in-one mentoring session by IEEE JU SB members. Be it research or industry, be it competitive coding, electronics or soft skill development, we have tracks tailor-made for your needs, complete with doubt-clearing, quick contests, real-world problems and webinars by field experts.</p>
                
              </div>
              <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-green-500 to-blue-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/elevatex2.webp" alt="" class="h-40 ">
                <h1 class="text-4xl px-5 ">ElevateX 2.0</h1>
                <p class="text-base px-5 py-4">ElevateX 2.0 is the second edition of elevateX an all-in-one mentoring session by IEEE JU SB members. Be it research or industry, be it competitive coding, or soft skill development, we have tracks tailor-made for your needs, complete with doubt-clearing, quick contests, real-world problems and webinars by field experts.</p>
                
               </div>
               <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-blue-500 to-green-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/hello-2025.webp" alt="" class="h-40 ">
                <h1 class="text-4xl  px-5">Hello IEEE</h1>
                <p class="text-base px-5 py-4">Hello IEEE is the perfect kickoff for freshers to dive into the world of IEEE at Jadavpur University! It’s where you hear inspiring alumni stories, and see how IEEE shaped their journeys. From hands-on workshops to tech quizzes, there’s something for everyone. It’s the best way to connect with seniors, make new friends, and experience the IEEE culture firsthand.</p>
                
               </div>
               <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-green-500 to-blue-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/helloieee.webp" alt="" class="h-40 ">
                <h1 class="text-4xl  px-5">Hello IEEE</h1>
                <p class="text-base px-5 py-4">Unrivaled and unparalleled, Hello-IEEE stands true to its name: Introducing the myriad boons of IEEE to young enthusiasts yet to blossom into leaders of tomorrow and seamlessly bridging the gap between industry and academia through its unique array of events.</p>
                
               </div>
               <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-blue-500 to-green-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/mla.webp" alt="" class="h-40 ">
                <h1 class="text-4xl  px-5">ML Accelerator Summit</h1>
                <p class="text-base px-5 py-4">The Machine Learning Accelerator Summit is a tiny step to help students, engineers and tech enthusiasts live the AI dream.</p>
                
               </div>
               <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-green-500 to-blue-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/mlas3.webp" alt="" class="h-40 ">
                <h1 class="text-4xl  px-5">MLAS 3.0</h1>
                <p class="text-base px-5 py-4">The Machine Learning Accelerator Summit is an event designed to provide participants with a robust foundation in Machine Learning. Through expert-led sessions on Python and hands-on workshops in Machine Learning and Deep Learning, participants gain extensive knowledge in these fields along with the skills necessary to advance their ML expertise.</p>
                
               </div>
               <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-blue-500 to-green-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/pass-the-mic.webp" alt="" class="h-40 ">
                <h1 class="text-4xl ">Pass the Mic</h1>
                <p class="text-base px-5 py-4">Pass the Mic is a thought-provoking podcast on Spotify, curated by Jadavpur University Student Branch, featuring expert discussions on technology, innovation, and industry trends. Each episode offers insightful conversations with professionals and thought leaders, fostering knowledge exchange and critical thinking.</p>
                
               </div>
               <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-green-500 to-blue-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/projection.webp" alt="" class="h-40 ">
                <h1 class="text-4xl ">Projection</h1>
                <p class="text-base px-5 py-4">Projection is an one-on-one mentorship research program for 2nd year and 3rd year undergraduate students led by multiple experts across industries.</p>
                
               </div>
               <div class="bg-blue-950 flex flex-col items-center gap-2 w-80 rounded-3xl hover:bg-gradient-to-b from-blue-500 to-green-500 hover:scale-110">

                <img src="https://www.ieee-jaduniv.in/events/rewired.webp" alt="" class="h-40 ">
                <h1 class="text-4xl ">Rewired 1.0</h1>
                <p class="text-base px-5 py-4">Rewired 1.0 conducted by the IEEE Jadavpur University Student Branch was a Hands-on workshop mainly focused to attract students to learn about the intricacies of Electronics. It was mainly focused to attract students to learn Electronics and understand the practical aspects of it.</p>
                
               </div>
            </div>
        </div>
      
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
          <p>&copy; 2025 IEEE Jadavpur University. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="/javascript/script.js"></script>
</body>
</html>